#notifications.dropdown-menu.widget-notifications.no-padding(style='width: 300px')
  p.notifications-empty.panel-padding.text-center.no-margin
    | No notifications
  .notification-list
  a.dismiss-all.notifications-link(href='#') DISMISS ALL
